body{
    background-image: url(konyv_hatter.jpg);
    background-size: 500px 500px;
    background-repeat: repeat;
}
.box{
    margin: auto;
    background-color: #ca8;
    width: 800px;
    border:solid #eca 1px;
}
.borito{
    width: 120px;
    margin: 10px;
    float: left;
    border: 1px solid #432;
}
#konyv{
    float: right;
    width: 102px;
    height: 102px;
}
.fo-box{
    background-color: #eca;
    margin: auto;
    padding: 10px;
    border: 1px solid #432;
    margin: 20px;
    box-shadow: 5px 5px 10px #432;
    border-radius: 5px;
}
h2{
    text-align: center;
    font-size: 250%;
}
.fo-box p{
    margin-top: 30px;
    padding: 30px;
}
.fo-box h2{
    font-size: 150%;
    text-align: justify;
}
.kiemelt{
    font-weight: bold;
}